.main-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    gap: 20px;
}


select {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

select:hover {
    border: 1px solid blue;
}

hr {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
    width: 100%;
}

/* Sidebar filters */
.filters-box {
    color: black;
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding-top: 0;
    position: sticky;
    text-align: left;
    padding-left: 30px;
}

.filter-group {
    margin: 15px 0;
    text-align: left;
}

.filter-group h4 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 2px;
}

.filters {
    margin-top: 5px;
    padding: 0;
    text-align: left;
    display: block;
    line-height: 1;
}

/* Main product area */
.products-section {
    color: black;
    flex: 1;
    padding: 0 20px;
}

.sort-bar {
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 230px;
    height: 200px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
}
.card-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 0;
}

.product-price {
    text-align: left;
    flex: 1;
    margin: 0;
    color: rgb(255, 145, 0);
    min-height: 20px;

}


.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-color: rgb(198, 195, 195);
}

.add-to-cart {
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    text-align: right;
    border: none;
    transition: 0.3s ease;
    margin-right: 10px;
}

.product-title {
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    margin-top: 15px;
    transition: 0.3s ease;
}

.product-title:hover {
    cursor: pointer;
    color: #0099cc;
}
.cart-icon {
    width: 23px;
    height: 23px;
}

.add-to-cart:hover {
    cursor: pointer;
    background-color: #dfdcdc;
    border-radius: 5px;
    
}

.product-image {
    min-height: 70%;
    min-width: 99%;
}

.product-image:hover {
    cursor: pointer;
}