*
{
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

main
{
    background-color: #e2e7e6;
}

.sign-up-page
{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up
{
    height: 550px;
    width: 450px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px orange;
}

.sign-up:hover
{
    border: 2px solid orange;
}

.sign-up-content
{
    height: 480px;
    width: 380px;
    background-color: white;
    opacity: 0.9;
    text-align: center;
    color: black;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-content form
{
    background-color: white;
    opacity: 0.9;
}
.sign-up-content h2
{
    font-size: 1.75rem;
    background-color: white;
    opacity: 0.9;
}

.sign-up-content label
{
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    opacity: 0.9;
    text-align: left;
    margin-top: 25px;
    padding-left: 10px;
    display: flex;
}

#message
{
    color: red;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.sign-up-input
{
    height: 40px;
    width: 350px;
    margin-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.9;
    border: 1px solid black;
}

@keyframes borderAnimate
{
    from
    {
        border: 2px solid orange;
    }
    to
    {
        border: 2px solid orange;
    }
}

.sign-up-input:hover
{
    animation: borderAnimate 3s ease-in 0.5s infinite normal;
}

.sign-up-input::placeholder
{
    font-weight: bolder;
}

.submit
{
    margin-top: 30px;
    margin-bottom: 15px;
    width: 350px;
    font-size: 16px;
    font-weight: bolder;
    background-color: orange;
    opacity: 1;
    border: none;
}

.submit:hover
{
    background-color: darkorange;
    color: white;
}

.sign-up-content a
{
    color: purple;
    text-decoration: underline;
}

.sign-up-content p
{
    display: inline;
}

.success-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.success-message {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.success-message i {
    font-size: 4rem;
    color: #4CAF50;
    margin-bottom: 1rem;
}

.success-message h2 {
    margin: 0.5rem 0;
    color: #333;
}

.success-message p {
    color: #666;
    margin-bottom: 1.5rem;
}
